<article class="post card">
    <div class="title card-body">
        <h2 class="mb-3 card-header">{{title}}</h2>
        <span class="card-title">{{contents}}</span>

        <div class="mt-2 meta card-text text-muted">
            {{user.username}} on
            {{format_date created_at}}
            |
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
</article>
